.box {
  display: flex;
  width: 650px;
  height: 70px;
  flex-flow: row wrap;
  justify-content: space-between;
}

div.box > span {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.box span:nth-of-type(odd) {
  width: 150px;
}

div.box span:nth-of-type(even) {
  width: 50px;
}

.first-box {
  background-color: #ff8080;
  color: #c94b4b;
}

.second-box {
  background-color: #8080ff;
  color: #3030f7;
}

.second-box ~ .second-box,
.fourth-box ~ .fourth-box {
  width: 150px !important;
}

.third-box ~ .third-box,
.fifth-box ~ .fifth-box {
  width: 50px !important;
}

.third-box {
  background-color: #80c080;
  color: #008a00;
}

.fourth-box {
  background-color: #c080c0;
  color: #740774;
}

.fifth-box {
  background-color: #ffd280;
  color: #e19200;
}

.sixth-box {
  background-color: #80ffff;
  color: #00b1b1;
}
